WebappClient/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2197/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2197/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_top10words_InputMessage">
    <wsdl:part name="parameters" element="tns:top10words" />
  </wsdl:message>
  <wsdl:message name="IService1_top10words_OutputMessage">
    <wsdl:part name="parameters" element="tns:top10wordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_top10wordscontent_InputMessage">
    <wsdl:part name="parameters" element="tns:top10wordscontent" />
  </wsdl:message>
  <wsdl:message name="IService1_top10wordscontent_OutputMessage">
    <wsdl:part name="parameters" element="tns:top10wordscontentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="top10words">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/top10words" message="tns:IService1_top10words_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/top10wordsResponse" message="tns:IService1_top10words_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="top10wordscontent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/top10wordscontent" message="tns:IService1_top10wordscontent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/top10wordscontentResponse" message="tns:IService1_top10wordscontent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>